server:
  port: 9000
spring:
  application:
    name: gateway
  profiles:
    active: dev
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # 开启动态路由，也就是从微服务中获取服务名
      default-filters:
        - StripPrefix=1 # 去除路径中第一个前缀
      routes: # routes 说明内容是一个数组，- 就表示数组
        - id: system_admin   # 唯一id,随便起，但是不能重名
          uri: lb://system-admin  #lb意思是load balance 负载均衡，内部用的是ribbon
          predicates:
            - Path=/admin/** # 匹配的路径** 代表通配
        - id: system_log
          uri: lb://system-log
          predicates:
            - Path=/log/**
        - id: system_mnt # 运维管理模块
          uri: lb://system-mnt
          predicates:
            - Path=/mnt/**
        - id: fish_example
          uri: lb://fish-example
          predicates:
            - Path=/example/**

