server:
  port: 9014   # web端口
spring:
  application:
    name: fish-example
  datasource:
    druid:
      db-type: com.alibaba.druid.pool.DruidDataSource
      driverClassName: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
      url: jdbc:log4jdbc:mysql://localhost:3306/eladmindb?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false
      username: root
      password: 123456
  redis:
    #数据库索引
    database: 1
    host: 127.0.0.1
    port: 6379
    password: